@charset "utf-8";
// 网页页脚sass文件****************
// footer
.footer{
    padding: 40px 0 30px;
    box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);
    //background: $nav-footer-bg;
    //color: $nav-footer-font;
    // 标语-------------------------
    .footerContainer{ 
      max-width: 1200px;
      margin: 0 auto;
    }
    .slogan{
        width: 24%;
        >a{
            display: block;
            width: 123px;
            height: 34px;
            margin-bottom: 10px;
            img{
                width: 100%;
                height: auto;
            }
        }

        p{
            padding-right: 80px;
        }
        // 手机客户端下载按钮样式-------------------------
        .phone{
            margin-top: 40px;
            a.button{
                position: relative;
                display: inline-block;
                width: 102px;
                height: 40px;
                padding: 10px 10px;
                border-radius: 4px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                text-align: center;
                background: transparent;
                color: #fff;
                border: 1px solid #fff;
                // &:hover{
                //     //background:$theme;
                //     //border-color: $theme;
                // }
            }
            span{
                font-size: 18px;
            }
        }
        .ios{margin:0 14px 20px 0;}
    }
    // 页脚链接-------------------------
    .footer-links{
        // 修改前为15%，暂时隐藏掉微信改为23%
        // 添加合作机构前为18%,目前添加合作机构,修改为13%
        width: 10%;
        padding: 0 20px;
        dt{
            //color: $nav-footer-dt;
            margin-bottom: 30px;
        }
        dd{
            line-height: 28px;
            margin-left: 0px;
            // a{
            //     // //color: $nav-footer-dd;
            //     // &:hover{
            //     //   //color:lighten($nav-footer-dd, 10%);
            //     // }
            // }
        }
    }
    // 关注微信-------------------------
    .follow{
        // 暂时隐藏微信关注
        // display: none;
        width:15%;
        padding: 0 20px;
        img{
            width: 107px;
            height: 107px;
            display: inline-block;
            margin-bottom: 8px;
        }
        // 下方解释文字
        .grey{
          font-size: 13px;
          margin: 0;
          line-height: 1.5;
          color: #ccd1d9;
        }
        p{
            text-align: center;
            // &.yellow{
            //     //color: $yellow;
            // }
        }
    }

    // 统一浮动-------------------------
    .slogan,.footer-links,.follow{
        float: left;
        // 链接与copyright的边距
        // padding-bottom: 73px;
    }
    // copyright-------------------------
    .footer-copyright{
        clear: both;
        text-align: center;
        //color: $copyright
    }

}
// // 页脚响应式-----平板-------------------------
// @media screen and (max-width:992px ) {
//     .footer{
//         // 标语
//         .slogan{
//             width: 100%;
//             padding: 0 50px 0 30px;
//             h1{
//                 margin:0 0 20px;
//             }
//             // 手机客户端下载按钮样式
//             .phone{
//                 margin-top: 20px;

//             }
//         }
//         // 页脚链接-------------------------
//         .footer-links{
//             width: 50%;
//             padding: 0 20px;
//             dt{
//                 margin-bottom: 20px;
//             }
//         }
//         // 关注微信-------------------------
//         .follow{
//             width:50%;
//             padding: 0 20px;
//         }

//         // 统一浮动-------------------------
//         .slogan,.footer-links,.follow{
//             padding-bottom: 20px;
//             height: 160px;
//         }

//     }
// }

// 苹果扫码下载客户端
// ios二维码
.ios-code.mytips{
    width: 120px;
    background: #fff;
    padding: 10px;
    left: -10px;
    bottom: 50px;
    &:before{
        border-top-color: #fff !important;
        left: 52px;
    }
    p.ios-title{
        padding: 5px 0 0;
        margin: 0;
        font-size: 12px;
        //color: $grey;

    }
}


// // 页脚响应式-----手机-------------------------
// @media screen and (max-width:769px ) {
//     .footer{
//         // 标语
//         .slogan{
//             width: 100%;
//             padding: 0 50px 0 30px;
//             h1{
//                 margin:0 0 20px;
//             }
//             // 手机客户端下载按钮样式
//             .phone{
//                 margin-top: 20px;

//             }
//         }
//         // 页脚链接
//         .footer-links{
//             width: 25%;
//             padding: 0 20px;
//             dt{
//                 margin-bottom: 20px;
//             }
//         }
//         // 关注微信
//         .follow{
//             width:25%;
//             padding: 0 20px;
//         }

//         // 统一浮动
//         .slogan,.footer-links,.follow{
//             padding-bottom: 20px;
//             height: 160px;
//         }

//     }
// }

// 安卓扫码二维码
.android-code.mytips{
    width: 120px;
    background: #fff;
    padding: 10px;
    left: -10px;
    bottom: 50px;
    &:before{
        border-top-color: #fff !important;
        left: 52px;
    }
    p.android-title{
        padding: 5px 0 0;
        margin: 0;
        font-size: 12px;
        //color: $grey;
        text-align: center;
        &::after{
            position: absolute;
            left: 0;
            bottom: -10px;
            content: "";
            width: 100%;
            height: 0;
            border:5px solid transparent;
        }

    }
}
// 返回顶部
#elite_go_top{
    position: fixed;
    right: 1%;
    bottom: 10%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    //background: $back-top-bg;
    //border: 1px solid $back-top-border;
    font-size: 12px;
    //color: $back-top-font;
    padding: 5px;
    transition: all 0.4s ease-in-out;
    &:hover{
        //background: $back-top-font-hover;
        i.fa{
            display: none;
        }
        span.tp-content{
            display: inline-block;
        }
    }
    a{
        position: absolute;
        //color: $back-top-font;
        line-height: 14px;
        i.fa{
            position: absolute;
            font-size: 28px;
            //color: $back-top-font;
            left: 1px;
        }
        span.tp-content{
            position: absolute;
            width: 24px;
            left: 2px;
            display: none;
        }
    }

}

//footer的span文字
footer.company{
  //background: url(/static/images/eliteu/index/bg.png) repeat;
  padding: 30px 0 20px 0;
  clear: both;
  p{
      text-align: center;
      color: #ffffff;
      a{
         color: #ffffff;
      }

  }
}
