// Certificate overrides for the red theme

.certificate-card {
  &.mode-audit {
    border-color: $audit-mode-color;

    .card-logo {
      background-image: url('#{$static-path}/images/certificates/red-certificate.png');
    }
  }

  &.mode-honor {
    border-color: $honor-mode-color;

    .card-logo {
      background-image: url('#{$static-path}/images/certificates/red-certificate.png');
    }
  }

  &.mode-verified {
    border-color: $verified-mode-color;

    .card-logo {
      background-image: url('#{$static-path}/images/certificates/red-certificate.png');
    }
  }

  &.mode-professional {
    border-color: $professional-certificate-color;

    .card-logo {
      background-image: url('#{$static-path}/images/certificates/red-certificate.png');
    }
  }
}

//加入课程
.verification-process.step-select-track .container{ 
  max-width: 1200px;
  padding: 30px 0;
}