## mako
<%namespace name='static' file='static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.conf import settings

from datetime import datetime
import pytz

from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>

<div class="footer">
  <div id="elite_go_top" class="hidden">
    <a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i><span class="tp-content">top</span></a>
  </div>




  <div class="footerContainer">

    <!-- 标语 -->
    <div class="slogan">
      <a href="#"><img src="${static.url('images/logo.png')}" alt=""></a>
      <p>Reform • Innovation • Future</p>
      <div class="phone">
        <a href="javascript:;" class="button show-code ios clearfix"><span class="fa fa-apple pull-left" aria-hidden="true"></span>
          iOS
          <div class="mytips bottom android-code hidden">
            <object><a href="http://a.app.qq.com/o/simple.jsp?pkgname=cn.eliteu.android" target="_blank"><img src="/static/images/eliteu/qrcode_down_load.png"></a></object>
            <!--  <p class="android-title">上架审核中</p> -->
            <p class="android-title"></p>
          </div>
        </a>


        <a href="javascript:;" class="button show-code android clearfix"><span class="fa fa-android pull-left"
            aria-hidden="true"></span> Android
          <div class="mytips bottom android-code hidden">
            <object><a href="http://a.app.qq.com/o/simple.jsp?pkgname=cn.eliteu.android" target="_blank"><img src="/static/images/eliteu/qrcode_down_load.png"></a></object>
            <p class="android-title"></p>
          </div>
        </a>
      </div>
    </div>


    <div class="footer-links">
      <dl>
        <dt>Elite Education'</dt>
        <dd><a href="" target="_blank">About Us</a></dd>
        <dd><a href="" target="_blank">Contact Us</a></dd>
        <dd><a href="" target="_blank">Join Us</a></dd>
      </dl>
    </div>

    <div class="footer-links">
      <dl>
        <dt>LMS About Platform</dt>
        <dd><a href="" target="_blank">Manual</a></dd>
        <dd><a href="" target="_blank">Recharge & Payment</a></dd>
        <dd><a href="" target="_blank">Help & Complaint</a></dd>
      </dl>
    </div>

    <div class="footer-links">
      <dl>
        <dt>Terms</dt>
        <dd><a href="" target="_blank">User Agreement</a></dd>
        <dd><a href="" target="_blank">Privacy Policy</a></dd>
        <dd><a href="" target="_blank">Disclaimer</a></dd>
      </dl>
    </div>

    <div class="footer-links">
      <dl>
        <dt>Coorperation'</dt>
        <dd><a href="" target="_blank">Netease Cloud Classroom</a></dd>
        <dd><a href="" target="_blank">Tencent Classroom</a></dd>
      </dl>
    </div>

    <!-- 关注WeChat -->
    <div class="follow text-center">
      <p class="white" style="font-weight: bold">Lms Eliteu Business School</p>
      <img src="">
      <p class="grey" style="font-weight: normal">Scan via WeChat to</p>
      <p class="grey" style="font-weight: normal">Get a Coupon</p>
    </div>

    <!-- 版权声明 -->
    <div class="footer-copyright">
      &copy; ${datetime.now().year} Guangzhou Elite Education & Technology Co., Ltd. All Rights Reserved<a href="http://www.miitbeian.gov.cn"
        target="_blank" style="color:#aab2bd;">粤ICP备13044168号-2</a>
    </div>

  </div>

</div>